<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
        <meta charset="UTF-8">
        <link href="/css/common.css" rel="stylesheet" />
    </head>

    <body>
    <h2 th:text="#{hello}" />
    <h3> <span th:text="#{welcome}"> </span></h3>

    <table>
        <tr>
            <td th:text="#{brick}">
                <video width="300px" height="240px" controls source src="mp4/gw.mp4" type="video/mp4"/>
            </td>
            <td>
                <img src="/image/design.png"/>
            </td>
            <td>
                <img src="/image/visualthinking.png" />
            </td>
            <td>
                <img src="/image/computational.png"/>
            </td>
            <td>
                <img src="/image/su.jpg"/>
            </td>
        </tr>
    </table>

    <p><span>Image source: https://comicgraphy.com/visual-thinking-vs-left-brain-thinking/</span></p>
    <p><span>Image source: https://cspathshala.org/2017/10/25/computational-thinking-curriculum//</span></p>
    <p><span>Image source: https://uxdesign.cc/user-experience-is-design-thinking-2428a0a360c2/</span></p>

    <a th:href="@{/thinktank}" th:text="#{table}" />
    <br>
    <a th:href="@{/thinktank/thinktankslistview}" th:text="#{list}" />
    <br>
    <a th:href="@{/next}" th:text="#{imageshow}" />
    <br>
    <a th:href="@{/music}" th:text="#{videoshow}" />
    </body>
</html>