<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script type = "text/javascript">
        var images = [], x=0;
        for (i=0; i< 20; ++i) {
            images[i] = "http://localhost:8081/image/" + i + ".jpg";
        }

        function displayNextImage(id) {
          x = (x === images.length - 1) ? 0 : x + 1;
          document.getElementById("img").src = images[x];
          if (x > 6) x=1;
        }

        function startTimer() {
            setInterval(displayNextImage, 3000);
        }
    </script>
</head>

<body onload="startTimer()">
    <img id="img" src="/image/21.jpg" width="1600px" height="800px" />
    <h3>
        <a href="/" th:text="#{home}"></a>
    </h3>
</body>
</html>